<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎来到登录页面</title>
    <script src="assets/js/vue/vue.js"></script>
    <script src="assets/js/vue/axios.js"></script>
    <script src="assets/js/vue/vue-resource.js"></script>

    <link rel="stylesheet" type="text/css" href="assets/css/myself.css">
</head>
<body>
    <div class="headDiv">
        <span>欢迎来到猜拳论坛</span>
    </div>
    <div class="mainDiv">
        <div class="loginDiv">
            <div class="loginHeader">
                <span>用户登录</span>
            </div>
            <div class="loginBody" id="app">
                <div class="inputCss">
                    <span>用户名</span>
                    <input type="text"v-model="loginMessage">
                </div>
                <div class="inputCss">
                    <span>密&nbsp;&nbsp;&nbsp;&nbsp;码</span>
                    <input type="password" v-model="loginPassword">
                </div>
                <div class="inputCss">
                    <button type="reset">注册</button>
                    <button  @click="login()">登录</button>
                </div>
                <div v-if="errorControl" class="inputCss">
                    <span class="errorCss">用户名或密码错误</span>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/my/my.js"></script>
</body>
</html>